html {
    scroll-behavior: smooth;
}

body{
    font-family: Consolas, monospace;
    color: #fff;
    margin: 0;
    padding: 0;
}

#particles-js{
    background-color: black;
    width: 100%;
    height: 100vh;
    position:fixed;
    z-index: -1;
    top:0;
}

header{
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(10px);
}

header h1{
    font-size: 1.4rem;
}

header nav{
    margin-right: 40px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav ul li{
    margin: 0 10px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    color: #5f5f5f;
}

aside{
    display: flex;
    flex-direction: column;
    padding-top:20px;
    justify-content: start;
    align-items: center;
    text-align: center;
    top:16.5%;
    height: 100vh;
    width: 20%;
    background-color: black;
    position: fixed;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(10px);
}

.typed2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

@keyframes rgb {
    0% {border-color: red;}
    20% {border-color: orange;}
    40% {border-color: yellow;}
    60% {border-color: green;}
    80% {border-color: blue;}
    100% {border-color: purple;}
}

@keyframes gradient {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
}

aside img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 10px solid transparent; /* Define el grosor del borde aquí */
    background-clip: padding-box, border-box; 
    box-decoration-break: clone;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), /* Fondo de la imagen */
                      linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Colores del borde */
    background-size: 200% 200%;
    animation: gradient 3s linear infinite; /* Ajusta la duración de la animación aquí */
}

main{
    position: relative;
    top:100px;
    width: 80%;
    left:20%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

section h2{
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 200px;
}

#title-name{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.terminal{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #25252500;
    backdrop-filter: blur(20px);
    padding-bottom: 20px;
    border-radius: 10px;
    width: 80%;
    height: 200px;
    margin-top: 20px;
    margin-left: 50px;
}

.title-terminal{
    background-color: #c1c1c1;
    color: #151515;
    width: 100%;
    text-align: center;
    height: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.terminal-container{
    padding: 20px;
    font-size: 1.5rem;
    color: white;
}
.technologies,
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 95%;
}

.card-technologie,
.card-skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2525253e;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    border: 3px solid;
    animation: rainbow 2s linear infinite;
    margin-right: 20px;
}

@keyframes rainbow {
    0% {border-color: rgb(255, 0, 0);}
    14% {border-color: rgb(255, 127, 0);}
    28% {border-color: rgb(255, 255, 0);}
    42% {border-color: rgb(127, 255, 0);}
    57% {border-color: rgb(0, 255, 0);}
    71% {border-color: rgb(0, 255, 127);}
    85% {border-color: rgb(0, 255, 255);}
    100% {border-color: rgb(255, 0, 0);}
}

.card-technologie img,
.card-skill img{
    width: 70px;
}

.card-technologie h3,
.card-skill h3{
    font-size: 1.5rem;
    margin-top: 50px;
}

.projects {
    position: relative;
    height: 600px;
}

.card-project {
    position: absolute;
    top: 0;
    left: -30vh;
    opacity: 0;
    transform: translateX(-70%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    text-align: center;
    background-color: #2525253e;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    border: 3px solid;
    animation: rainbow 2s linear infinite;
}

.card-project h3{
    font-size: 2rem;
    margin-top: 20px;
}

.card-project p{
    font-size: 1rem;
    margin-top: 20px;
}

.card-project a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-top: 50px;
    background-color:#000000;
    padding: 10px;
    border-radius: 20px;
}

.card-project a:hover{
    border: 3px solid;
    animation: rainbow 2s linear infinite;
}

.card-project.visible {
    opacity: 1;
    transform: translateX(0);
}

#next{
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

#prev{
    position: absolute;
    top: 50%;
    left: -250px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

#next,
#prev{
    background: transparent;
    border: none;
}

#next:hover,
#prev:hover{
    color: #5f5f5f;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    bottom: -500px;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(10px);
}